<!DOCTYPE html>
{% load static %}
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<head>
    <title> Localcoins - Home</title>
    <meta name="title" Content="Localcoins - Home">
    <meta name="description" content="LocalCoins is a p2p crypto exchange marketplace where people can trade crypto directly with each other.">
    <meta name="keywords" content="crypto,cryptocurrency,crytocurrencies,exchange,cryptoexchange,bitcoin,etherium">
    <link rel="shortcut icon" href="https://script.viserlab.com/localcoins/assets/images/logoIcon/favicon.png" type="image/x-icon">


    <link rel="apple-touch-icon" href="https://script.viserlab.com/localcoins/assets/images/logoIcon/logo.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Localcoins - Home">

    <meta itemprop="name" content="Localcoins - Home">
    <meta itemprop="description" content="">
    <meta itemprop="image" content="https://script.viserlab.com/localcoins/assets/images/seo/618a4786a490d1636452230.png">

    <meta property="og:type" content="website">
    <meta property="og:title" content="LocalCoins - Ultimate Peer to Peer Crypto Exchange Platform">
    <meta property="og:description" content="LocalCoins is a p2p crypto exchange marketplace where people can trade crypto directly with each other.">
    <meta property="og:image" content="https://script.viserlab.com/localcoins/assets/images/seo/618a4786a490d1636452230.png"/>
    <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="315" />
    <meta property="og:url" content="https://script.viserlab.com/localcoins">

    <meta name="twitter:card" content="summary_large_image">

    <!-- bootstrap 4  -->
    <link rel="stylesheet" href="https://script.viserlab.com/localcoins/assets/templates/basic/css/vendor/bootstrap.min.css">

    <!-- fontawesome 5  -->
    <link rel="stylesheet" href="https://script.viserlab.com/localcoins/assets/global/css/all.min.css">

    <!-- line-awesome webfont -->
    <link rel="stylesheet" href="https://script.viserlab.com/localcoins/assets/global/css/line-awesome.min.css">

    <link rel="stylesheet" href="https://script.viserlab.com/localcoins/assets/templates/basic/css/vendor/animate.min.css">
    <!-- slick slider css -->
    <link rel="stylesheet" href="https://script.viserlab.com/localcoins/assets/templates/basic/css/vendor/slick.css">
    <!-- dashdoard main css -->
    <link rel="stylesheet" href="https://script.viserlab.com/localcoins/assets/templates/basic/css/main.css?v1">
    <!-- custom css -->
    <link rel="stylesheet" href="https://script.viserlab.com/localcoins/assets/templates/basic/css/custom.css">
    <!-- site color -->
    <link rel="stylesheet" href="https://script.viserlab.com/localcoins/assets/templates/basic/css/color.php?color1=2ebe2f&v1">


    </head>
<body>
    <div class="preloader">
    <div class="preloader-container">
        <span class="animated-preloader"></span>
    </div>
</div>

    <div class="page-wrapper">
        <header class="header">
    <div class="header__bottom">
      <div class="container">
        <nav class="navbar navbar-expand-xl p-0 align-items-center">
          <a class="site-logo site-title" href="https://script.viserlab.com/localcoins"><img src="https://script.viserlab.com/localcoins/assets/images/logoIcon/logo.png" alt="site-logo"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="menu-toggle"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav main-menu m-auto">
                                    <li> <a href="https://script.viserlab.com/localcoins">Home</a></li>
                    <li class="menu_has_children"><a href="javascript:void(0)">Buy</a>
                        <ul class="sub-menu">
                                                            <li><a href="https://script.viserlab.com/localcoins/buy/BTC">BTC</a></li>
                                                            <li><a href="https://script.viserlab.com/localcoins/buy/ETH">ETH</a></li>
                                                            <li><a href="https://script.viserlab.com/localcoins/buy/USDT">USDT</a></li>
                                                            <li><a href="https://script.viserlab.com/localcoins/buy/XRP">XRP</a></li>
                                                            <li><a href="https://script.viserlab.com/localcoins/buy/DOGE">DOGE</a></li>
                                                            <li><a href="https://script.viserlab.com/localcoins/buy/LTC">LTC</a></li>
                                                            <li><a href="https://script.viserlab.com/localcoins/buy/TRX">TRX</a></li>
                                                            <li><a href="https://script.viserlab.com/localcoins/buy/BNB">BNB</a></li>
                                                    </ul>
                    </li>
                    <li class="menu_has_children"><a href="javascript:void(0)">Sell</a>
                        <ul class="sub-menu">
                                                            <li><a href="https://script.viserlab.com/localcoins/sell/BTC">BTC</a></li>
                                                            <li><a href="https://script.viserlab.com/localcoins/sell/ETH">ETH</a></li>
                                                            <li><a href="https://script.viserlab.com/localcoins/sell/USDT">USDT</a></li>
                                                            <li><a href="https://script.viserlab.com/localcoins/sell/XRP">XRP</a></li>
                                                            <li><a href="https://script.viserlab.com/localcoins/sell/DOGE">DOGE</a></li>
                                                            <li><a href="https://script.viserlab.com/localcoins/sell/LTC">LTC</a></li>
                                                            <li><a href="https://script.viserlab.com/localcoins/sell/TRX">TRX</a></li>
                                                            <li><a href="https://script.viserlab.com/localcoins/sell/BNB">BNB</a></li>
                                                    </ul>
                    </li>

                    <li><a href="https://script.viserlab.com/localcoins/contact">Contact</a></li>

            </ul>
            <div class="nav-right">

                <select class="language-select langSel">
                    <option value="">Select</option>
                                            <option value="en"  selected  >English</option>
                                            <option value="ru" >Русский</option>
                                            <option value="zh" >中文</option>

                </select>

                <ul class="account-menu ml-3">
                                            <li class="icon"><i class="las la-user"></i>
                            <ul class="account-submenu">
                                <li><a href="https://script.viserlab.com/localcoins/login">Login</a></li>
                                <li><a href={% url 'Register' %}Registration</a></li>
                            </ul>
                        </li>
                                    </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
            <!-- header__bottom end -->
</header>

    <section class="hero bg_img"  data-background="https://script.viserlab.com/localcoins/assets/images/frontend/banner/617a7adc156e21635416796.jpg">
        <div class="container position-relative">
            <div class="row justify-content-between align-items-center">
                <div class="col-xl-5 text-xl-left text-center">
                    <h2 class="hero__title text-white mb-3">Exchange your cryptocurrencies</h2>
                    <p class="hero__details text-white">LocalCoins is a p2p crypto exchange marketplace where people can trade crypto directly with each other.</p>

                    <div class="btn-group mt-4 justify-content-xl-start justify-content-center">
                        <a href="login" class="cmn-btn">Login</a>
                        <a href="register/" class="cmn-btn">Register</a>
                    </div>
                </div>
                <div class="col-xl-6 mt-5">
                    <div class="bitcoin-form-wrapper">
                        <div class="form-image"><img src="https://script.viserlab.com/localcoins/assets/images/frontend/banner/618a436e858b21636451182.png" alt="image"></div>
                        <h5 class="title text-white">Find Your Offers</h5>
                        <form class="bitcoin-form" action="https://script.viserlab.com/localcoins/search-ad" method="GET">

                            <div class="row align-items-center">
                                <div class="col-md-6 form-group">
                                    <select class="select" name="type" required>
                                        <option value="">Select Buy or Sell</option>
                                        <option value="buy">Buy</option>
                                        <option value="sell">Sell</option>
                                    </select>
                                </div>

                                <div class="col-md-6 form-group">
                                    <select class="select" name="crypto_code" required>
                                        <option value="">Select Crypto Currency</option>
                                                                                    <option value="BTC">Bitcoin</option>
                                                                                    <option value="ETH">Ethereum</option>
                                                                                    <option value="USDT">Tether</option>
                                                                                    <option value="XRP">XRP</option>
                                                                                    <option value="DOGE">Dogecoin</option>
                                                                                    <option value="LTC">Litecoin</option>
                                                                                    <option value="TRX">Tron</option>
                                                                                    <option value="BNB">BNB</option>
                                                                            </select>
                                </div>

                                <div class="col-md-6 form-group">
                                    <select class="select" id="fiat-gateway" name="fiat_gateway_slug" required>
                                        <option value="">Select Payment Method</option>
                                                                                    <option value="payeer" data-id="1">Payeer</option>
                                                                                    <option value="perfect-money" data-id="2">Perfect Money</option>
                                                                                    <option value="bank-wire" data-id="3">Bank Wire</option>
                                                                                    <option value="paypal" data-id="4">PayPal</option>
                                                                                    <option value="payoneer" data-id="5">Payoneer</option>
                                                                                    <option value="paytm" data-id="6">PayTM</option>
                                                                                    <option value="western-union" data-id="7">Western Union</option>
                                                                                    <option value="Banco" data-id="8">Banco Pichincha</option>
                                                                            </select>
                                </div>

                                <div class="col-md-6 form-group">
                                    <select class="select" id="fiat-currency" name="fiat_code" required>

                                    </select>
                                </div>

                                <div class="col-lg-12 form-group">
                                    <input type="number" step="any" name="amount" class="form-control" placeholder="Preferred Amount (optional)">
                                </div>

                                <div class="col-lg-12">
                                    <button type="submit" class="cmn-btn w-100 mt-3">Find Offers</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- bitcoin-form-wrapper end -->
                </div>
            </div>
        </div>
    </section>

                        <section class="overview-section">
    <div class="container">
      <div class="row">
                      <div class="col-lg-3 col-sm-6 overview-item">
                <div class="overview-card text-center">
                <div class="overview-card__icon">
                    <i class="las la-headset"></i>                </div>
                <div class="overview-card__content">
                    <h6 class="title">24/7 Support</h6>
                </div>
                </div>
            </div>
                      <div class="col-lg-3 col-sm-6 overview-item">
                <div class="overview-card text-center">
                <div class="overview-card__icon">
                    <i class="las la-user-shield"></i>                </div>
                <div class="overview-card__content">
                    <h6 class="title">100% Secured</h6>
                </div>
                </div>
            </div>
                      <div class="col-lg-3 col-sm-6 overview-item">
                <div class="overview-card text-center">
                <div class="overview-card__icon">
                    <i class="las la-users"></i>                </div>
                <div class="overview-card__content">
                    <h6 class="title">3M Happy Users</h6>
                </div>
                </div>
            </div>
                      <div class="col-lg-3 col-sm-6 overview-item">
                <div class="overview-card text-center">
                <div class="overview-card__icon">
                    <i class="las la-award"></i>                </div>
                <div class="overview-card__content">
                    <h6 class="title">Best Currency Exchange Platform</h6>
                </div>
                </div>
            </div>
                </div>
    </div>
  </section>
                    <section class="pt-120 pb-120 bg_img" data-background="https://script.viserlab.com/localcoins/assets/images/frontend/buy/61893c6b95ad61636383851.jpg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section-header text-center">
            <h2 class="section-title">Buy Crypto Currencies</h2>
            <p>With a proven track record and a mature approach to the industry, we provide a reliable buying platform for cryptocurrencies.</p>
          </div>
        </div>
      </div><!-- row end -->

      <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs custom--style-two justify-content-center" id=" " role="tablist">
                                    <li class="nav-item goto-more-buy" role="presentation">
                        <a class="nav-link crypto-currency-buy  active " data-id="1" data-code="BTC" id="BTC-tab" data-toggle="tab" href="#BTC" role="tab">BTC</a>
                    </li>
                                    <li class="nav-item goto-more-buy" role="presentation">
                        <a class="nav-link crypto-currency-buy " data-id="2" data-code="ETH" id="ETH-tab" data-toggle="tab" href="#ETH" role="tab">ETH</a>
                    </li>
                                    <li class="nav-item goto-more-buy" role="presentation">
                        <a class="nav-link crypto-currency-buy " data-id="3" data-code="USDT" id="USDT-tab" data-toggle="tab" href="#USDT" role="tab">USDT</a>
                    </li>
                                    <li class="nav-item goto-more-buy" role="presentation">
                        <a class="nav-link crypto-currency-buy " data-id="4" data-code="XRP" id="XRP-tab" data-toggle="tab" href="#XRP" role="tab">XRP</a>
                    </li>
                                    <li class="nav-item goto-more-buy" role="presentation">
                        <a class="nav-link crypto-currency-buy " data-id="5" data-code="DOGE" id="DOGE-tab" data-toggle="tab" href="#DOGE" role="tab">DOGE</a>
                    </li>
                                    <li class="nav-item goto-more-buy" role="presentation">
                        <a class="nav-link crypto-currency-buy " data-id="7" data-code="LTC" id="LTC-tab" data-toggle="tab" href="#LTC" role="tab">LTC</a>
                    </li>
                                    <li class="nav-item goto-more-buy" role="presentation">
                        <a class="nav-link crypto-currency-buy " data-id="8" data-code="TRX" id="TRX-tab" data-toggle="tab" href="#TRX" role="tab">TRX</a>
                    </li>
                                    <li class="nav-item goto-more-buy" role="presentation">
                        <a class="nav-link crypto-currency-buy " data-id="9" data-code="BNB" id="BNB-tab" data-toggle="tab" href="#BNB" role="tab">BNB</a>
                    </li>
                            </ul>


            <div class="tab-content mt-4" id="a">

                                    <div class="tab-pane bg-transparent fade content-load-buy  show active " id="BTC" role="tabpanel" aria-labelledby="BTC-tab">

                    </div>
                                    <div class="tab-pane bg-transparent fade content-load-buy " id="ETH" role="tabpanel" aria-labelledby="ETH-tab">

                    </div>
                                    <div class="tab-pane bg-transparent fade content-load-buy " id="USDT" role="tabpanel" aria-labelledby="USDT-tab">

                    </div>
                                    <div class="tab-pane bg-transparent fade content-load-buy " id="XRP" role="tabpanel" aria-labelledby="XRP-tab">

                    </div>
                                    <div class="tab-pane bg-transparent fade content-load-buy " id="DOGE" role="tabpanel" aria-labelledby="DOGE-tab">

                    </div>
                                    <div class="tab-pane bg-transparent fade content-load-buy " id="LTC" role="tabpanel" aria-labelledby="LTC-tab">

                    </div>
                                    <div class="tab-pane bg-transparent fade content-load-buy " id="TRX" role="tabpanel" aria-labelledby="TRX-tab">

                    </div>
                                    <div class="tab-pane bg-transparent fade content-load-buy " id="BNB" role="tabpanel" aria-labelledby="BNB-tab">

                    </div>
                            </div>
            <div class="btn-group mt-4 justify-content-center">
                <form action="https://script.viserlab.com/localcoins/search-ad" method="GET" class="buy-submit">
                    <input type="hidden" name="type" value="buy">
                    <input type="hidden" name="crypto_code">
                    <button id="buy-more" class="cmn-btn2 btn-sm px-4 py-2">More</button>
                </form>
            </div>
        </div>
      </div>
    </div>
</section>

                    <section class="pt-120 pb-120">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section-header text-center">
            <h2 class="section-title">Sell Crypto Currency</h2>
            <p>With a proven track record and a mature approach to the industry, we provide a reliable selling platform for cryptocurrency.</p>
          </div>
        </div>
      </div><!-- row end -->
      <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs custom--style-two justify-content-center bg-transparent" id="myTab" role="tablist">
                                    <li class="nav-item goto-more-sell" role="presentation">
                        <a class="nav-link crypto-currency-sell  active " data-id="1" data-code="BTC" id="BTC-sell-tab" data-toggle="tab" href="#BTC-sell" role="tab">BTC</a>
                    </li>
                                    <li class="nav-item goto-more-sell" role="presentation">
                        <a class="nav-link crypto-currency-sell " data-id="2" data-code="ETH" id="ETH-sell-tab" data-toggle="tab" href="#ETH-sell" role="tab">ETH</a>
                    </li>
                                    <li class="nav-item goto-more-sell" role="presentation">
                        <a class="nav-link crypto-currency-sell " data-id="3" data-code="USDT" id="USDT-sell-tab" data-toggle="tab" href="#USDT-sell" role="tab">USDT</a>
                    </li>
                                    <li class="nav-item goto-more-sell" role="presentation">
                        <a class="nav-link crypto-currency-sell " data-id="4" data-code="XRP" id="XRP-sell-tab" data-toggle="tab" href="#XRP-sell" role="tab">XRP</a>
                    </li>
                                    <li class="nav-item goto-more-sell" role="presentation">
                        <a class="nav-link crypto-currency-sell " data-id="5" data-code="DOGE" id="DOGE-sell-tab" data-toggle="tab" href="#DOGE-sell" role="tab">DOGE</a>
                    </li>
                                    <li class="nav-item goto-more-sell" role="presentation">
                        <a class="nav-link crypto-currency-sell " data-id="7" data-code="LTC" id="LTC-sell-tab" data-toggle="tab" href="#LTC-sell" role="tab">LTC</a>
                    </li>
                                    <li class="nav-item goto-more-sell" role="presentation">
                        <a class="nav-link crypto-currency-sell " data-id="8" data-code="TRX" id="TRX-sell-tab" data-toggle="tab" href="#TRX-sell" role="tab">TRX</a>
                    </li>
                                    <li class="nav-item goto-more-sell" role="presentation">
                        <a class="nav-link crypto-currency-sell " data-id="9" data-code="BNB" id="BNB-sell-tab" data-toggle="tab" href="#BNB-sell" role="tab">BNB</a>
                    </li>
                            </ul>
            <div class="tab-content mt-4" id="myTabContent">
                                    <div class="tab-pane bg-transparent fade content-load-sell  show active " id="BTC-sell" role="tabpanel" aria-labelledby="BTC-sell-tab">

                    </div>
                                    <div class="tab-pane bg-transparent fade content-load-sell " id="ETH-sell" role="tabpanel" aria-labelledby="ETH-sell-tab">

                    </div>
                                    <div class="tab-pane bg-transparent fade content-load-sell " id="USDT-sell" role="tabpanel" aria-labelledby="USDT-sell-tab">

                    </div>
                                    <div class="tab-pane bg-transparent fade content-load-sell " id="XRP-sell" role="tabpanel" aria-labelledby="XRP-sell-tab">

                    </div>
                                    <div class="tab-pane bg-transparent fade content-load-sell " id="DOGE-sell" role="tabpanel" aria-labelledby="DOGE-sell-tab">

                    </div>
                                    <div class="tab-pane bg-transparent fade content-load-sell " id="LTC-sell" role="tabpanel" aria-labelledby="LTC-sell-tab">

                    </div>
                                    <div class="tab-pane bg-transparent fade content-load-sell " id="TRX-sell" role="tabpanel" aria-labelledby="TRX-sell-tab">

                    </div>
                                    <div class="tab-pane bg-transparent fade content-load-sell " id="BNB-sell" role="tabpanel" aria-labelledby="BNB-sell-tab">

                    </div>
                            </div>
            <div class="btn-group mt-4 justify-content-center">
                <form action="https://script.viserlab.com/localcoins/search-ad" method="GET" class="sell-submit">
                    <input type="hidden" name="type" value="sell">
                    <input type="hidden" name="crypto_code">
                    <button id="sell-more" class="cmn-btn2 btn-sm px-4 py-2">More</button>
                </form>
            </div>
        </div>
      </div>
    </div>
</section>

                    <section class="why-choose-section pt-120 pb-120 bg_img overlay--one" data-background="https://script.viserlab.com/localcoins/assets/images/frontend/choose_us/61893c87b050e1636383879.jpg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section-header text-center">
            <h2 class="section-title text-white">Why People Choose Us</h2>
            <p class="text-white">Earning the trust of our clients has always been our highest priority. We earn that trust through the best security in the business. Our platform provides world-class financial stability and the highest standards of legal compliance.</p>
          </div>
        </div>
      </div><!-- row end -->
      <div class="row mb-none-50">
                    <div class="col-lg-4 col-md-6 mb-30">
                <div class="choose-card">
                    <div class="choose-card__icon">
                        <img src="https://script.viserlab.com/localcoins/assets/images/frontend/choose_us/6157ff1163ec41633156881.png" alt="image">
                    </div>
                    <div class="choose-card__content">
                        <h5 class="title mb-3">Legal Company</h5>
                        <p>Our company conducts absolutely legal activities. We are certified to operate this business, we are legal and safe.</p>
                    </div>
                </div>
            </div>
                    <div class="col-lg-4 col-md-6 mb-30">
                <div class="choose-card">
                    <div class="choose-card__icon">
                        <img src="https://script.viserlab.com/localcoins/assets/images/frontend/choose_us/6157fefea9bf81633156862.png" alt="image">
                    </div>
                    <div class="choose-card__content">
                        <h5 class="title mb-3">High reliability</h5>
                        <p>We are trusted by a huge number of people. We are working hard constantly to improve the level of our security system and minimize possible risks.</p>
                    </div>
                </div>
            </div>
                    <div class="col-lg-4 col-md-6 mb-30">
                <div class="choose-card">
                    <div class="choose-card__icon">
                        <img src="https://script.viserlab.com/localcoins/assets/images/frontend/choose_us/6157fee5d33df1633156837.png" alt="image">
                    </div>
                    <div class="choose-card__content">
                        <h5 class="title mb-3">Earn extra income</h5>
                        <p>Buy and Sell your Bitcoin at your chosen rate and it is a great opportunity for all the uses to get more profit from this site.</p>
                    </div>
                </div>
            </div>
                    <div class="col-lg-4 col-md-6 mb-30">
                <div class="choose-card">
                    <div class="choose-card__icon">
                        <img src="https://script.viserlab.com/localcoins/assets/images/frontend/choose_us/6157fe0b43a471633156619.png" alt="image">
                    </div>
                    <div class="choose-card__content">
                        <h5 class="title mb-3">Sell Bitcoin online</h5>
                        <p>The selling process is also simple! Sell your Bitcoin at your chosen rate, and get paid in one of the numerous payment methods.</p>
                    </div>
                </div>
            </div>
                    <div class="col-lg-4 col-md-6 mb-30">
                <div class="choose-card">
                    <div class="choose-card__icon">
                        <img src="https://script.viserlab.com/localcoins/assets/images/frontend/choose_us/6157fdf463b681633156596.png" alt="image">
                    </div>
                    <div class="choose-card__content">
                        <h5 class="title mb-3">Buy Bitcoin Online</h5>
                        <p>The buying process is so simple with this site. Just log in to the account and buy any of the bitcoin package based on demand.</p>
                    </div>
                </div>
            </div>
                    <div class="col-lg-4 col-md-6 mb-30">
                <div class="choose-card">
                    <div class="choose-card__icon">
                        <img src="https://script.viserlab.com/localcoins/assets/images/frontend/choose_us/6157fdd77d9c11633156567.png" alt="image">
                    </div>
                    <div class="choose-card__content">
                        <h5 class="title mb-3">Easy Access</h5>
                        <p>It&#039;s a most reliable site and easy to access. We maintain a very simple login process and easy configuration for all the users.</p>
                    </div>
                </div>
            </div>
              </div>
    </div>
  </section>
                    <section class="pt-120 pb-120">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section-header text-center">
            <h2 class="section-title">Frequently Asked Questions.</h2>
            <p>Frequently Asked Questions.</p>
          </div>
        </div>
      </div><!-- row end -->
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="accordion cmn-accordion" id="">

                                                                                        <div class="card">
                        <div class="card-header" id="h-2">
                            <button class="btn btn-link btn-block text-left  collapsed " type="button" data-toggle="collapse" data-target="#c-2" aria-expanded="true" aria-controls="c-2">
                                <i class="las la-question-circle"></i>
                                <span>How to buy bitcoin ?</span>
                            </button>
                        </div>

                        <div id="c-2" class="collapse" aria-labelledby="h-2" data-parent="#accordionExample">
                        <div class="card-body">
                            <p>It’s now easy to buy Bitcoin as a BITCCA vendor. You have the freedom to choose your own rates. As BITCCA is a peer-to-peer marketplace, you can buy your Bitcoin directly from over 3 million users worldwide.</p>
                        </div>
                        </div>
                    </div>
                                                                                                          <div class="card">
                        <div class="card-header" id="h-4">
                            <button class="btn btn-link btn-block text-left  collapsed " type="button" data-toggle="collapse" data-target="#c-4" aria-expanded="true" aria-controls="c-4">
                                <i class="las la-question-circle"></i>
                                <span>What is escrow ?</span>
                            </button>
                        </div>

                        <div id="c-4" class="collapse" aria-labelledby="h-4" data-parent="#accordionExample">
                        <div class="card-body">
                            <p>If you’re buying, send payment directly to the seller; if you’re selling, send Bitcoin Cash to our blind escrow. Once payment is received by the seller, the BCH is released to the buyer.</p>
                        </div>
                        </div>
                    </div>
                                                                                                          <div class="card">
                        <div class="card-header" id="h-6">
                            <button class="btn btn-link btn-block text-left  collapsed " type="button" data-toggle="collapse" data-target="#c-6" aria-expanded="true" aria-controls="c-6">
                                <i class="las la-question-circle"></i>
                                <span>Can I make money with Bitcoin ?</span>
                            </button>
                        </div>

                        <div id="c-6" class="collapse" aria-labelledby="h-6" data-parent="#accordionExample">
                        <div class="card-body">
                            <p>You should never expect to get rich with Bitcoin or any emerging technology. It is always important to be wary of anything that sounds too good to be true or disobeys basic economic rules.</p>
                        </div>
                        </div>
                    </div>
                                            </div>
        </div>
        <div class="col-lg-6 mt-lg-0 mt-4">
          <div class="accordion cmn-accordion" id="accordionExample">

                                                      <div class="card">
                        <div class="card-header" id="h-1">
                            <button class="btn btn-link btn-block text-left " type="button" data-toggle="collapse" data-target="#c-1" aria-expanded="true" aria-controls="c-1">
                                <i class="las la-question-circle"></i>
                                <span>What is online money  exchanging ?</span>
                            </button>
                        </div>

                        <div id="c-1" class="collapse" aria-labelledby="h-1" data-parent="#accordionExample">
                        <div class="card-body">
                            <p>An online currency exchange, or electronic forex exchange, is an internet-based platform that facilitates the exchange of currencies between countries. Like their physical counterparts, online currency exchanges make money by charging a nominal fee and/or through the bid-ask spread in a currency.</p>
                        </div>
                        </div>
                    </div>
                                                                                                          <div class="card">
                        <div class="card-header" id="h-3">
                            <button class="btn btn-link btn-block text-left  collapsed " type="button" data-toggle="collapse" data-target="#c-3" aria-expanded="true" aria-controls="c-3">
                                <i class="las la-question-circle"></i>
                                <span>How to sell bitcoin ?</span>
                            </button>
                        </div>

                        <div id="c-3" class="collapse" aria-labelledby="h-3" data-parent="#accordionExample">
                        <div class="card-body">
                            <p>It’s now easy to sell Bitcoin as a BITCCA vendor. You have the freedom to set your own rates, and also the luxury of over 20 payment options to get paid for the Bitcoin you sell. As BITCCA is a peer-to-peer marketplace, you can sell your Bitcoin directly to over 3 million users worldwide.</p>
                        </div>
                        </div>
                    </div>
                                                                                                          <div class="card">
                        <div class="card-header" id="h-5">
                            <button class="btn btn-link btn-block text-left  collapsed " type="button" data-toggle="collapse" data-target="#c-5" aria-expanded="true" aria-controls="c-5">
                                <i class="las la-question-circle"></i>
                                <span>What is Bitcoin ?</span>
                            </button>
                        </div>

                        <div id="c-5" class="collapse" aria-labelledby="h-5" data-parent="#accordionExample">
                        <div class="card-body">
                            <p>Bitcoin is a consensus network that enables a new payment system and completely digital money. It is the first decentralized peer-to-peer payment network that is powered by its users with no central authority or middlemen. From a user perspective, Bitcoin is pretty much like cash for the Internet. Bitcoin can also be seen as the most prominent triple entry bookkeeping system in existence.</p>
                        </div>
                        </div>
                    </div>

          </div>
        </div>
      </div>
    </div>
</section>
                    <section class="pt-120 pb-120 overlay--one bg_img" data-background="https://script.viserlab.com/localcoins/assets/images/frontend/testimonial/61893dd6d84911636384214.jpg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section-header text-center">
            <h2 class="section-title text-white">What Our Client Say About Us</h2>
            <p class="text-white">We have done some awesome works and we always care for our clients, lets see what&#039;s their opinion about us.</p>
          </div>
        </div>
      </div><!-- row end -->
      <div class="testimonial-slider">

                    <div class="single-slide">
                <div class="testimonial-card">
                    <div class="testimonial-card__content text-center">
                        <i class="fas fa-quote-left"></i>
                        <p>The website provides a variety of related services.  This is best for crypto exchange among other features. This is best site for all</p>
                    </div>
                    <div class="testimonial-card__client text-center mt-4">
                        <div class="thumb"><img src="https://script.viserlab.com/localcoins/assets/images/frontend/testimonial/61581300b57ab1633161984.jpg" alt="image"></div>
                        <h6 class="name mt-2">Hopper</h6>
                    </div>
                </div>
            </div>
                    <div class="single-slide">
                <div class="testimonial-card">
                    <div class="testimonial-card__content text-center">
                        <i class="fas fa-quote-left"></i>
                        <p>I do business here for a long time. They give fast service and I feel trusted here. This is best for crypto exchange among other features.</p>
                    </div>
                    <div class="testimonial-card__client text-center mt-4">
                        <div class="thumb"><img src="https://script.viserlab.com/localcoins/assets/images/frontend/testimonial/615812f58b7eb1633161973.jpg" alt="image"></div>
                        <h6 class="name mt-2">Danniel</h6>
                    </div>
                </div>
            </div>
                    <div class="single-slide">
                <div class="testimonial-card">
                    <div class="testimonial-card__content text-center">
                        <i class="fas fa-quote-left"></i>
                        <p>Localcoins is the best website for selling bitcoin and making cash. They provide authentic services.  This is best for the crypto exchange platforms.</p>
                    </div>
                    <div class="testimonial-card__client text-center mt-4">
                        <div class="thumb"><img src="https://script.viserlab.com/localcoins/assets/images/frontend/testimonial/615812e679ef21633161958.jpg" alt="image"></div>
                        <h6 class="name mt-2">Mark</h6>
                    </div>
                </div>
            </div>
                    <div class="single-slide">
                <div class="testimonial-card">
                    <div class="testimonial-card__content text-center">
                        <i class="fas fa-quote-left"></i>
                        <p>BITCCA is a company and website dedicated to the bitcoin cash and bitcoin selling platform. The website provides a variety of related services.</p>
                    </div>
                    <div class="testimonial-card__client text-center mt-4">
                        <div class="thumb"><img src="https://script.viserlab.com/localcoins/assets/images/frontend/testimonial/615812dc8892d1633161948.jpg" alt="image"></div>
                        <h6 class="name mt-2">Mr. Pop</h6>
                    </div>
                </div>
            </div>
                    <div class="single-slide">
                <div class="testimonial-card">
                    <div class="testimonial-card__content text-center">
                        <i class="fas fa-quote-left"></i>
                        <p>The website provides a variety of related services.  This is best for crypto exchange among other features.</p>
                    </div>
                    <div class="testimonial-card__client text-center mt-4">
                        <div class="thumb"><img src="https://script.viserlab.com/localcoins/assets/images/frontend/testimonial/615812d22f3531633161938.jpg" alt="image"></div>
                        <h6 class="name mt-2">Clark</h6>
                    </div>
                </div>
            </div>
                    <div class="single-slide">
                <div class="testimonial-card">
                    <div class="testimonial-card__content text-center">
                        <i class="fas fa-quote-left"></i>
                        <p>This is best for crypto exchange among other features. This is best for crypto exchange among other features.</p>
                    </div>
                    <div class="testimonial-card__client text-center mt-4">
                        <div class="thumb"><img src="https://script.viserlab.com/localcoins/assets/images/frontend/testimonial/615812c601e821633161926.jpg" alt="image"></div>
                        <h6 class="name mt-2">Lucee</h6>
                    </div>
                </div>
            </div>

    </div>
                    <section class="offer-section section--bg2">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8 text-lg-left text-center">
          <h2 class="title text-white">Welcome to the peer-to-peer finance revolution!</h2>
          <p class="text-white mt-2">Trade cryptocurrency globally. Multiple payment methods. Free bitcoin wallet. And much more right here!</p>
        </div>
        <div class="col-lg-4 text-lg-right text-center mt-lg-0 mt-4">
          <a href="register" class="cmn-btn">Get Started</a>
        </div>
      </div>
    </div>
</section>
                    <div class="scroll-to-top">
    <span class="scroll-icon">
      <i class="fa fa-rocket" aria-hidden="true"></i>
    </span>
</div>

<footer class="footer-section bg_img" data-background="https://script.viserlab.com/localcoins/assets/images/frontend/footer/61893d4381a941636384067.jpg">
    <div class="footer-top">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-5 col-12">
            <div class="footer-widget text-center">
              <a href="https://script.viserlab.com/localcoins" class="footer-logo mb-4"><img src="https://script.viserlab.com/localcoins/assets/images/logoIcon/logo.png" alt="image"></a>
              <p>Lorem ipsum dolor sit amet consectet adipisicing elit. Dignissimos, dolore. Sit amet consectet adipisicing elit</p>
              <ul class="social-links mt-4 justify-content-center">
                                      <li><a href="https://instagram.com"><i class="lab la-instagram"></i></a></li>
                                      <li><a href="https://www.linkedin.com/"><i class="lab la-linkedin-in"></i></a></li>
                                      <li><a href="https://twitter.com/"><i class="lab la-twitter"></i></a></li>
                                      <li><a href="https://www.google.com/"><i class="lab la-facebook-f"></i></a></li>
                                </ul>
            </div><!-- footer-widget end -->
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <hr>
        <div class="row">
          <div class="col-lg-8 col-md-6 text-md-left text-center">
            <p>Copyright © 2021 | All Right Reserved</p>
          </div>
          <div class="col-lg-4 col-md-6 mt-md-0 mt-3">
            <ul class="link-list justify-content-md-end justify-content-center">
                                    <li><a href="https://script.viserlab.com/localcoins/policy/terms-of-service/43">Terms of Service</a></li>
                                    <li><a href="https://script.viserlab.com/localcoins/policy/privacy-policy/42">Privacy Policy</a></li>
                            </ul>
          </div>
        </div>
      </div>
    </div>
</footer>
    </div>


    <!-- jQuery library -->
    <script src="https://script.viserlab.com/localcoins/assets/global/js/jquery-3.6.0.min.js"></script>
    <!-- bootstrap js -->
    <script src="https://script.viserlab.com/localcoins/assets/templates/basic/js/vendor/bootstrap.bundle.min.js"></script>
    <!-- slick slider js -->
    <script src="https://script.viserlab.com/localcoins/assets/templates/basic/js/vendor/slick.min.js"></script>
    <!-- scroll animation -->
    <script src="https://script.viserlab.com/localcoins/assets/templates/basic/js/vendor/wow.min.js"></script>
    <!-- dashboard custom js -->
    <script src="https://script.viserlab.com/localcoins/assets/templates/basic/js/main.js"></script>


        <script>
        'use strict';

        (function ($) {
            var cryptoCount = '8';

            if (parseInt(cryptoCount) > 0) {
                var cryptoId = '1';

                $.ajax({
                    type: "get",
                    url: "https://script.viserlab.com/localcoins/currency-wise-buy-ad",
                    data: {id:parseInt(cryptoId)},
                    dataType: "json",

                    success: function (response) {
                        if(response.html){
                            $('.content-load-buy').html(response.html);
                        }else{
                            notify('error', response.error);
                        }
                    }
                });
            }

            $('.crypto-currency-buy').on('click', function () {
                var id = $(this).data('id');

                $.ajax({
                    type: "get",
                    url: "https://script.viserlab.com/localcoins/currency-wise-buy-ad",
                    data: {id:id},
                    dataType: "json",

                    success: function (response) {
                        if(response.html){
                            $('.content-load-buy').html(response.html);
                        }else{
                            notify('error', response.error);
                        }
                    }
                });
            });

            $('#buy-more').on('click', function () {
                if ($('.crypto-currency-buy').hasClass('active')) {
                    var cryptoCode = $('.goto-more-buy').find('.active').data('code');
                    $('.buy-submit').find('input[name="crypto_code"]').val(cryptoCode);
                }
            });

        })(jQuery);
    </script>
    <script>
        'use strict';

        (function ($) {
            var cryptoCount = '8';

            if (parseInt(cryptoCount) > 0) {
                var cryptoId = '1';

                $.ajax({
                    type: "get",
                    url: "https://script.viserlab.com/localcoins/currency-wise-sell-ad",
                    data: {id:parseInt(cryptoId)},
                    dataType: "json",

                    success: function (response) {
                        if(response.html){
                            $('.content-load-sell').html(response.html);
                        }else{
                            notify('error', response.error);
                        }
                    }
                });
            }

            $('.crypto-currency-sell').on('click', function () {
                var id = $(this).data('id');

                $.ajax({
                    type: "get",
                    url: "https://script.viserlab.com/localcoins/currency-wise-sell-ad",
                    data: {id:id},
                    dataType: "json",

                    success: function (response) {
                        if(response.html){
                            $('.content-load-sell').html(response.html);
                        }else{
                            notify('error', response.error);
                        }
                    }
                });
            });

            $('#sell-more').on('click', function () {
                if ($('.crypto-currency-sell').hasClass('active')) {
                    var cryptoCode = $('.goto-more-sell').find('.active').data('code');
                    $('.sell-submit').find('input[name="crypto_code"]').val(cryptoCode);
                }
            });
        })(jQuery);
    </script>
    <script>
        (function($){
            "use strict";

            $('#fiat-gateway').on('change',function(){
                var methodId = $(this).find('option:selected').data('id');
                var html = ``;

                if (methodId) {

                    $.ajax({
                        type: "get",
                        url: "https://script.viserlab.com/localcoins/supported-currency",
                        data: {id:methodId},
                        dataType: "json",

                        success: function (response) {
                            if(response.success){

                                if(response.supportedCurrencies.length > 0) {
                                    $.each(response.supportedCurrencies, function (index, value) {
                                        html += `<option value="${value.code}">${value.code}</option>`;
                                    });
                                }

                                $('#fiat-currency').html(html);

                            }else{
                                notify('error', response.error);
                            }
                        }
                    });
                }else{
                    html = `<option value="">Select One</option>`;
                    $('#fiat-currency').html(html);
                }

            }).change();

        })(jQuery)
    </script>


    <link rel="stylesheet" href="https://script.viserlab.com/localcoins/assets/global/css/iziToast.min.css">
<script src="https://script.viserlab.com/localcoins/assets/global/js/iziToast.min.js"></script>


<script>
    "use strict";
    function notify(status, message) {
        if(typeof message == 'string'){
            iziToast[status]({
                message: message,
                position: "topRight"
            });
        }else{
            $.each(message, function(i, val) {
                iziToast[status]({
                    message: val,
                    position: "topRight"
                });
            });
        }
    }
</script>


    <script>
        (function ($) {
            "use strict";
            $(".langSel").on("change", function() {
                window.location.href = "https://script.viserlab.com/localcoins/change/"+$(this).val() ;
            });

            $('.cookie').on('click',function () {

                var url = "https://script.viserlab.com/localcoins/cookie-accept";

                $.get(url,function(response){

                    if(response.success){
                        notify('success',response.success);
                        $('.cookie-remove').html('');
                    }
                });
            });

            $('.cookie-close').on('click',function () {
                $('.cookie-remove').html('');
            });

        })(jQuery);
    </script>

<script>
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5fe0b9b2a8a254155ab5421d/1eq2tap1m';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
  })();
</script>

<script>
    adroll_adv_id = "YXRNNTO7ZBAMFBH67UUE5M";
    adroll_pix_id = "MMQQDWGN25EXPHGRPA3NLR";
    adroll_version = "2.0";
    (function(w, d, e, o, a) {
        w.__adroll_loaded = true;
        w.adroll  = w.adroll  || [];
        w.adroll.f = [ 'setProperties', 'identify', 'track' ];
        var roundtripUrl = "https://s.adroll.com/j/" + adroll_adv_id
                + "/roundtrip.js";
        for (a = 0; a < w.adroll.f.length; a++) {
            w.adroll[w.adroll.f[a]] = w.adroll[w.adroll.f[a]] || (function(n) {
                return function() {
                    w.adroll.push([ n, arguments ])
                }
            })(w.adroll.f[a])
        }
        e = d.createElement('script');
        o = d.getElementsByTagName('script')[0];
        e.async  = 1;
        e.src  = roundtripUrl;
        o.parentNode.insertBefore(e, o);
    })(window, document);
    adroll.track("pageView");

</script>
</body>
</html>
