
<!doctype html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> My Crypto Vendor - Forgot Password</title>
    <meta name="title" Content="My Crypto Vendor - Forgot Password">
    <meta name="description" content="LocalCoins is a p2p crypto exchange marketplace where people can trade crypto directly with each other.">
    <meta name="keywords" content="crypto,cryptocurrency,crytocurrencies,exchange,cryptoexchange,bitcoin,etherium">
    <link rel="shortcut icon" href="https://script.viserlab.com/localcoins/assets/images/logoIcon/favicon.png" type="image/x-icon">

    
    <link rel="apple-touch-icon" href="https://script.viserlab.com/localcoins/assets/images/logoIcon/logo.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="My Crypto Vendor - Forgot Password">
    
    <meta itemprop="name" content="My Crypto Vendor - Forgot Password">
    <meta itemprop="description" content="">
    <meta itemprop="image" content="https://script.viserlab.com/localcoins/assets/images/seo/618a4786a490d1636452230.png">
    
    <meta property="og:type" content="website">
    <meta property="og:title" content="LocalCoins - Ultimate Peer to Peer Crypto Exchange Platform">
    <meta property="og:description" content="LocalCoins is a p2p crypto exchange marketplace where people can trade crypto directly with each other.">
    <meta property="og:image" content="https://script.viserlab.com/localcoins/assets/images/seo/618a4786a490d1636452230.png"/>
    <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="315" />
    <meta property="og:url" content="https://script.viserlab.com/localcoins/password/reset">
    
    <meta name="twitter:card" content="summary_large_image">

    <!-- bootstrap 4  -->
    <link rel="stylesheet" href="https://script.viserlab.com/localcoins/assets/templates/basic/css/vendor/bootstrap.min.css">

    <!-- fontawesome 5  -->
    <link rel="stylesheet" href="https://script.viserlab.com/localcoins/assets/global/css/all.min.css">

    <!-- line-awesome webfont -->
    <link rel="stylesheet" href="https://script.viserlab.com/localcoins/assets/global/css/line-awesome.min.css">

    <link rel="stylesheet" href="https://script.viserlab.com/localcoins/assets/templates/basic/css/vendor/animate.min.css">
    <!-- slick slider css -->
    <link rel="stylesheet" href="https://script.viserlab.com/localcoins/assets/templates/basic/css/vendor/slick.css">
    <!-- dashdoard main css -->
    <link rel="stylesheet" href="https://script.viserlab.com/localcoins/assets/templates/basic/css/main.css?v1">
    <!-- custom css -->
    <link rel="stylesheet" href="https://script.viserlab.com/localcoins/assets/templates/basic/css/custom.css">
    <!-- site color -->
    <link rel="stylesheet" href="https://script.viserlab.com/localcoins/assets/templates/basic/css/color.php?color1=2ebe2f&v1">

    
    </head>
<body>
    <div class="preloader">
    <div class="preloader-container">
        <span class="animated-preloader"></span>
    </div>
</div>

    <div class="page-wrapper">
        <header class="header">
    <div class="header__bottom">
      <div class="container">
        <nav class="navbar navbar-expand-xl p-0 align-items-center">
          <a class="site-logo site-title" href="https://script.viserlab.com/localcoins"><img src="https://script.viserlab.com/localcoins/assets/images/logoIcon/logo.png" alt="site-logo"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="menu-toggle"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav main-menu m-auto">
                                    <li> <a href="https://script.viserlab.com/localcoins">Home</a></li>
                    <li class="menu_has_children"><a href="javascript:void(0)">Buy</a>
                        <ul class="sub-menu">
                                                            <li><a href="https://script.viserlab.com/localcoins/buy/BTC">BTC</a></li>
                                                            <li><a href="https://script.viserlab.com/localcoins/buy/ETH">ETH</a></li>
                                                            <li><a href="https://script.viserlab.com/localcoins/buy/USDT">USDT</a></li>
                                                            <li><a href="https://script.viserlab.com/localcoins/buy/XRP">XRP</a></li>
                                                            <li><a href="https://script.viserlab.com/localcoins/buy/DOGE">DOGE</a></li>
                                                            <li><a href="https://script.viserlab.com/localcoins/buy/LTC">LTC</a></li>
                                                            <li><a href="https://script.viserlab.com/localcoins/buy/TRX">TRX</a></li>
                                                            <li><a href="https://script.viserlab.com/localcoins/buy/BNB">BNB</a></li>
                                                    </ul>
                    </li>
                    <li class="menu_has_children"><a href="javascript:void(0)">Sell</a>
                        <ul class="sub-menu">
                                                            <li><a href="https://script.viserlab.com/localcoins/sell/BTC">BTC</a></li>
                                                            <li><a href="https://script.viserlab.com/localcoins/sell/ETH">ETH</a></li>
                                                            <li><a href="https://script.viserlab.com/localcoins/sell/USDT">USDT</a></li>
                                                            <li><a href="https://script.viserlab.com/localcoins/sell/XRP">XRP</a></li>
                                                            <li><a href="https://script.viserlab.com/localcoins/sell/DOGE">DOGE</a></li>
                                                            <li><a href="https://script.viserlab.com/localcoins/sell/LTC">LTC</a></li>
                                                            <li><a href="https://script.viserlab.com/localcoins/sell/TRX">TRX</a></li>
                                                            <li><a href="https://script.viserlab.com/localcoins/sell/BNB">BNB</a></li>
                                                    </ul>
                    </li>
                    
                    <li><a href="https://script.viserlab.com/localcoins/contact">Contact</a></li>
                
            </ul>
            <div class="nav-right">

                <select class="language-select langSel">
                    <option value="">Select</option>
                                            <option value="en"  selected  >English</option>
                                            <option value="ru" >Русский</option>
                                            <option value="zh" >中文</option>
                    
                </select>

                <ul class="account-menu ml-3">
                                            <li class="icon"><i class="las la-user"></i>
                            <ul class="account-submenu">
                                <li><a href="https://script.viserlab.com/localcoins/login">Login</a></li>
                                <li><a href="https://script.viserlab.com/localcoins/register">Registration</a></li>
                            </ul>
                        </li>
                                    </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
            <!-- header__bottom end -->
</header>
                <section class="inner-hero bg_img" data-background="https://script.viserlab.com/localcoins/assets/images/frontend/breadcrumb/61813ef33dc721635860211.jpg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h2 class="page-title">Forgot Password</h2>
        </div>
      </div>
    </div>
</section>
    <section class="pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="login-wrapper p-4">
                        <h4 class="mb-4">Provide Informations</h4>
                        <form class="w-100" method="POST" action= {% url 'Password' %} >
                            {% csrf_token %}
                            <input type="hidden" name="_token" value="it2mM8Fn7iv2O86uUdWJIvVpKPb8XQVAqFQPgE9E">
                            <div class="form-group">
                                <label>Select One</label>
                                <select name="type" class="form-control">
                                    <option value="email">E-Mail Address</option>
                                    <option value="username">Username</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="my_value"></label>
                                <input type="text" class="form-control " name="value" value="" required autofocus="off">

                                                            </div>
                            <div>
                                <button type="submit" class="cmn-btn"> Send Password Code</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <div class="scroll-to-top">
    <span class="scroll-icon">
      <i class="fa fa-rocket" aria-hidden="true"></i>
    </span>
</div>

<footer class="footer-section bg_img" data-background="https://script.viserlab.com/localcoins/assets/images/frontend/footer/61893d4381a941636384067.jpg">
    <div class="footer-top">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-5 col-12">
            <div class="footer-widget text-center">
              <a href="https://script.viserlab.com/localcoins" class="footer-logo mb-4"><img src="https://script.viserlab.com/localcoins/assets/images/logoIcon/logo.png" alt="image"></a>
              <p>Lorem ipsum dolor sit amet consectet adipisicing elit. Dignissimos, dolore. Sit amet consectet adipisicing elit</p>
              <ul class="social-links mt-4 justify-content-center">
                                      <li><a href="https://instagram.com"><i class="lab la-instagram"></i></a></li>
                                      <li><a href="https://www.linkedin.com/"><i class="lab la-linkedin-in"></i></a></li>
                                      <li><a href="https://twitter.com/"><i class="lab la-twitter"></i></a></li>
                                      <li><a href="https://www.google.com/"><i class="lab la-facebook-f"></i></a></li>
                                </ul>
            </div>
              <!-- footer-widget end -->
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <hr>
        <div class="row">
          <div class="col-lg-8 col-md-6 text-md-left text-center">
            <p>Copyright © 2021 | All Right Reserved</p>
          </div>
          <div class="col-lg-4 col-md-6 mt-md-0 mt-3">
            <ul class="link-list justify-content-md-end justify-content-center">
                                    <li><a href="https://script.viserlab.com/localcoins/policy/terms-of-service/43">Terms of Service</a></li>
                                    <li><a href="https://script.viserlab.com/localcoins/policy/privacy-policy/42">Privacy Policy</a></li>
                            </ul>
          </div>
        </div>
      </div>
    </div>
</footer>
    </div>

        </div>
    

    <!-- jQuery library -->
    <script src="https://script.viserlab.com/localcoins/assets/global/js/jquery-3.6.0.min.js"></script>
    <!-- bootstrap js -->
    <script src="https://script.viserlab.com/localcoins/assets/templates/basic/js/vendor/bootstrap.bundle.min.js"></script>
    <!-- slick slider js -->
    <script src="https://script.viserlab.com/localcoins/assets/templates/basic/js/vendor/slick.min.js"></script>
    <!-- scroll animation -->
    <script src="https://script.viserlab.com/localcoins/assets/templates/basic/js/vendor/wow.min.js"></script>
    <!-- dashboard custom js -->
    <script src="https://script.viserlab.com/localcoins/assets/templates/basic/js/main.js"></script>

    
    <script>

    (function($){
        "use strict";

        myVal();
        $('select[name=type]').on('change',function(){
            myVal();
        });
        function myVal(){
            $('.my_value').text($('select[name=type] :selected').text());
        }
    })(jQuery)
</script>

    
    <link rel="stylesheet" href="https://script.viserlab.com/localcoins/assets/global/css/iziToast.min.css">
<script src="https://script.viserlab.com/localcoins/assets/global/js/iziToast.min.js"></script>


<script>
    "use strict";
    function notify(status, message) {
        if(typeof message == 'string'){
            iziToast[status]({
                message: message,
                position: "topRight"
            });
        }else{
            $.each(message, function(i, val) {
                iziToast[status]({
                    message: val,
                    position: "topRight"
                });
            });
        }
    }
</script>


    <script>
        (function ($) {
            "use strict";
            $(".langSel").on("change", function() {
                window.location.href = "https://script.viserlab.com/localcoins/change/"+$(this).val() ;
            });

            $('.cookie').on('click',function () {

                var url = "https://script.viserlab.com/localcoins/cookie-accept";

                $.get(url,function(response){

                    if(response.success){
                        notify('success',response.success);
                        $('.cookie-remove').html('');
                    }
                });
            });

            $('.cookie-close').on('click',function () {
                $('.cookie-remove').html('');
            });

        })(jQuery);
    </script>

<script>
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5fe0b9b2a8a254155ab5421d/1eq2tap1m';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
  })();
</script>

<script>
    adroll_adv_id = "YXRNNTO7ZBAMFBH67UUE5M";
    adroll_pix_id = "MMQQDWGN25EXPHGRPA3NLR";
    adroll_version = "2.0";
    (function(w, d, e, o, a) {
        w.__adroll_loaded = true;
        w.adroll  = w.adroll  || [];
        w.adroll.f = [ 'setProperties', 'identify', 'track' ];
        var roundtripUrl = "https://s.adroll.com/j/" + adroll_adv_id
                + "/roundtrip.js";
        for (a = 0; a < w.adroll.f.length; a++) {
            w.adroll[w.adroll.f[a]] = w.adroll[w.adroll.f[a]] || (function(n) {
                return function() {
                    w.adroll.push([ n, arguments ])
                }
            })(w.adroll.f[a])
        }
        e = d.createElement('script');
        o = d.getElementsByTagName('script')[0];
        e.async  = 1;
        e.src  = roundtripUrl;
        o.parentNode.insertBefore(e, o);
    })(window, document);
    adroll.track("pageView");
</script>
</body>
</html>
